/*
background colors:
    darkest: #4b4296
    middle: #645bb3
    brightest: #7564cc
for other similar colors:
    enter photo from 'assets/logo' on https://imagecolorpicker.com/
for photos (logo), keeping text and removing background:
    https://www.remove.bg/upload
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/gradient-background.png') no-repeat;
    background-size: cover;
    background-position: center;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 99;
    background-color: #4b4296;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/*.logo{
    font-size: 2em;
    user-select: none;
} */

.logo {
    height: 50px; 
    width: auto; 
    user-select: none; 
}

button{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid floralwhite;
    outline: none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
    color: #fff !important;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 230px;
    transition: 0.4s;
    margin-top: 20px;
    transition: .3s;
    text-decoration: none !important;
}

button:hover {
    background: #fff;
    color: #592147 !important;
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /* more clear glow */
    box-shadow: 0 0 10px #4b4296, 0 0 40px #4b4296, 0 0 80px #4b4296; /* sublte glow */
}

.navigation a{
    position:relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a:not(.btnSignUp-popup)::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform: scaleX(1); 
    color: #592147 !important; 
    /*box-shadow: 0 0 10px #B026FF , 0 0 40px #B026FF ,0 0 80px #B026FF;*/ /*original, pinkish glow*/
    box-shadow: 0 0 10px #1b145e, 0 0 40px #1b145e, 0 0 80px #1b145e; /*new, sublte glow */
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /*new, stronger glow */
}

.navigation .btnSignUp-popup{
    display: inline-block;
    padding: 7px 18px;
    background: transparent; 
    color: white;
    text-decoration: none; 
    font-size: 16px;
    border-radius: 10px; 
    border: 2px solid floralwhite;
    cursor: pointer;
    transition: 0.4s;
}
.navigation .btnSignUp-popup:hover{
    background: #fff;
    color: #592147 !important;
    /*box-shadow: 0 0 10px #B026FF , 0 0 40px #B026FF ,0 0 80px #B026FF;*/ /*original, pinkish glow*/
    box-shadow: 0 0 10px #1b145e, 0 0 40px #1b145e, 0 0 80px #1b145e; /*new, sublte glow */
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /*new, stronger glow */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 100px; 
}

.left-section {
    flex: 1; 
    max-width: 50%;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: left; 
}

.right-section {
    flex: 1; 
    max-width: 50%; 
    padding-left: 20px;
    padding-bottom: 40px;
    text-align: right; 
}

.Welcome{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.sub-welc {
    color: #fff;
    font-family: 'Raleway';
    font-size: 25px; 
    text-align: center; 
    margin-top: 5px;
}

.container {
    display: flex;
    gap: 0; 
    margin-top: 20px;
}

.Button1{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid floralwhite;
    outline: none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 150px;
    transition: 0.4s;
    /*margin: 0 auto;*/
    margin-top: 20px;
    transition: .3s;
}

.Button1:hover{
    background: #fff;
    color: #592147 !important;
    /*box-shadow: 0 0 10px #B026FF , 0 0 40px #B026FF ,0 0 80px #B026FF;*/ /*original, pinkish glow*/
    box-shadow: 0 0 10px #1b145e, 0 0 40px #1b145e, 0 0 80px #1b145e; /*new, sublte glow */
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /*new, stronger glow */
}

.Button2{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid floralwhite;
    outline: none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-right: 70px;
    margin-left: 10px;
    transition: 0.4s;
    /*margin: 0 auto;*/
    margin-top: 20px;
    transition: .3s;
}

.Button2:hover{
    background: #fff;
    color: #592147 !important;
    /*box-shadow: 0 0 10px #B026FF , 0 0 40px #B026FF ,0 0 80px #B026FF;*/ /*original, pinkish glow*/
    box-shadow: 0 0 10px #1b145e, 0 0 40px #1b145e, 0 0 80px #1b145e; /*new, sublte glow */
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /*new, stronger glow */
}

.university-image {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}