@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/gradient-background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 99;
    background-color: #4b4296;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.logo {
    height: 50px; 
    width: auto; 
    user-select: none; 
}

.homeButton{
    display: inline-block;
    padding: 7px 18px;
    background: transparent; 
    color: white;
    text-decoration: none; 
    font-size: 16px;
    border-radius: 10px; 
    border: 2px solid floralwhite;
    cursor: pointer;
    transition: 0.4s;
}
.homeButton:hover{
    background: #fff;
    color: #592147 !important;
    /*box-shadow: 0 0 10px #B026FF , 0 0 40px #B026FF ,0 0 80px #B026FF;*/ /*original, pinkish glow*/
    box-shadow: 0 0 10px #1b145e, 0 0 40px #1b145e, 0 0 80px #1b145e; /*new, sublte glow */
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /*new, stronger glow */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* to move the form a bit down and away from the heading */
    margin-top: 50px; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form h1 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

form span {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #645bb3;
    border-radius: 5px;
    background: transparent;
    background-color: #645bb3;
    color: #fff;
    outline: none;
}

form input::placeholder {
    color: #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #fff;
    color: #592147 !important;
    /*box-shadow: 0 0 10px #B026FF , 0 0 40px #B026FF ,0 0 80px #B026FF;*/ /*original, pinkish glow*/
    box-shadow: 0 0 10px #1b145e, 0 0 40px #1b145e, 0 0 80px #1b145e; /*new, sublte glow */
    /*box-shadow: 0 0 10px #2d0691, 0 0 40px #2d0691, 0 0 80px #2d0691;*/ /*new, stronger glow */
}

.toggle {
    margin-top: 15px;
    text-align: center;
}

.toggle p {
    color: #fff;
}

.toggle a {
    /*color: #4b4296;*/
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.toggle a:hover {
    text-decoration: underline;
}